section#footer
  ul.icons
    li
      a.icon.alt.fa-github(href='#')
        span.label GitHub
    li
      a.icon.alt.fa-envelope(href='mailto:admin@aethra.io?Subject=Aethra')
        span.label Email
    li
      a.icon.alt.fa-steam(href='http://steam.aethra.io')
        span.label Steam
  ul.copyright
    li &copy; Aethra
    li Design: <a href="">C. H&ouml;lzl</a> 
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/skel.min.js')
script(src='/js/util.js')
//if lte IE 8
  script(src='/js/ie/respond.min.js')
script(src='/js/main.js')
script(src='js/modernizr.js')
