doctype html
html
  head
    title #{title} - Aethra
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Aethra
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Aethra by Soragnamdan
