nav.nav
  a.icon.fa-times.nav-trigger(href="#")
    span(aria-hidden="true")
  ul
    li
      a.icon.fa-home(href='/') 
        span Home      
    li
      a.icon.fa-flask(href='/test')
        span Test      
    li
      a.icon.fa-file-text-o(href='/article')
        span Article      
    li
      a.icon.fa-user(href='/me')
        span Me     
    li
      a.icon.fa-exclamation-triangle(href='/404')
        span 404     
    li
      a.icon.fa-question(href='#')
        span #       
  span.nav-bg(aria-hidden="true")


