#header
  nav#nav
    ul
      li.current
        a(href='/') Home
      li
        a(href='#') 2nd
      li
        a(href='left-sidebar.html') 3rd
      li
        a(href='right-sidebar.html') 4th
      li
        a(href='two-sidebar.html') 5th
      li
        a(href='no-sidebar.html') 7th

