nav.nav.nav-is-visible#nav
  a.icon.fa-times.nav-trigger#nav-trigger(href="#nav")
  ul
    li
      a.icon.fa-times.nav-trigger(href="#nav")
        span Close
    li
      a.icon.fa-home(href='/') 
        span Home      
    li
      a.icon.fa-flask(href='/test')
        span Test      
    li
      a.icon.fa-file-text-o(href='/article')
        span Article      
    li
      a.icon.fa-user(href='/me')
        span Me     
    li
      a.icon.fa-exclamation-triangle(href='/404')
        span 404     
    li
      a.icon.fa-question(href='#')
        span #  
    li.login     
      a.icon.fa-user(href='#')
        span Login
        .login-window
          form(method='post', action='#')
            .row.uniform(class='50%')
               div(class='12u 12u$(xsmall)')
                input#login-email(type='email', name='login-email', value='', placeholder='Email')
               div(class='12u$ 12u$(xsmall)')
                input#login-pwd(type='password', name='login-pwd', value='', placeholder='Password')
               div(class='12u 12u$(small)')
                input#login-remember(type='checkbox', name='login-remember')
                |  
                label(for='login-remember') Remember me

               div(class='12u$')
                ul.actions
                  li
                    input.special(type='submit', disabled, value='Login')

