doctype html
html
  include head
  body
    include simple_header
    section#one.main.style1.special
      .container
        h2 Get Mails
          form.no-reload(method='post', action='/')
            .uniform(class='50%')
              div(class='5u 12u$(xsmall)' style="margin-bottom:1em;margin-left:auto;margin-right:auto")
                input(type='email', name='email', placeholder='Email',required, autofocus)
              div(class='12u$')
                ul.actions
                  li
                    input.special(type='submit', value='Subscribe me')
              div(class='12u$')
                .error-message #{message}
    include footer
       