doctype html
html
  include ../head.pug
  link(rel='stylesheet', href='/css/markdown.css')
  body
    include ../simple_header.pug
    section#one.main.style1
      .container
        h2 #{title}
        form(method="post", action="/" + name)
          .row.uniform(class='50%')  
            div(class='12u 12u$(xsmall)')
              textarea#markdown(name="markdown", placeholder="Markdown Text", data-provide="markdown", rows="10", required) #{markdown}
            div(class='12u$')
                ul.actions
                  li
                    input.special(type="submit", value="Save")
    include ../footer.pug
    script 
      |(function($){jQuery=$})(jQuery);
    script(src='/js/markdown.js')
    script(src='/js/bs-markdown.js')