doctype html
html
  include ../head
  body
    include ../simple_header
    section#one.main.style1.special
      .container
        p #{title}
        |Records:
        br
        if records
          a(href=full_path) #{title}
          br
    include ../footer