doctype html
html
  include ../head.pug
  body
    include ../simple_header.pug
    section#one.main.style1.special
      .container
         #content
          article
            if exists
              div.article!=html
              br
              a(href="/" + name + "/edit") Edit 
            else
              a(href="/" + name + "/edit") Create a new post
    include ../footer.pug