doctype html
html
  include ../head.pug
  body
    include ../simple_header.pug
    section#one.main.style1.special
      .container
         #content
          article
            if exists
              header
                h2 #{title}
                if subtitle
                  p #{subtitle}
              span.image.featured
                img(src='images/banner.jpg', alt='')
              div.article!=html
              //markdown
              br
              a(href="/" + name + "/edit") Edit 
            else
              a(href="/" + name + "/edit") Create a new post
    include ../footer.pug